name: Compilar APK Android
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Buildozer Action
        uses: ArtemSBulat/buildozer-action@v1.6.1
        with:
          buildozer_version: master
          command: buildozer android debug
          repository_content: .

      - name: Subir APK generado
        uses: actions/upload-artifact@v4
        with:
          name: MiAppCaja
          path: bin/*.apk
          
          
