name: Build APK
on: [push, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Set up Java 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Install Critical Dependencies
        run: |
          sudo apt update
          # Instalamos libtool y autotools para solucionar el error de la imagen 2
          sudo apt install -y build-essential git python3-dev libffi-dev libssl-dev \
          libsqlite3-dev cmake unzip zip libtool autoconf gettext autopoint pkg-config

      - name: Install Buildozer and Cython
        run: |
          pip install --upgrade pip
          pip install buildozer
          pip install cython==0.29.33

      - name: Build with Buildozer
        run: yes | buildozer android debug
        env:
          BUILDOZER_ALLOW_ORG_KIVY_ANDROID_PYTHONACTIVITY: 1

      - name: Upload APK Artifact
        # ACTUALIZADO A V4: Esto soluciona el error de la imagen 1
        uses: actions/upload-artifact@v4
        with:
          name: YourMobileStore-APK
          path: bin/*.apk
          
