name: Compilar APK Your Mobile Store
on: [push]

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v4

      - name: Configurar Java 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Configurar Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Instalar Dependencias
        run: |
          sudo apt update
          sudo apt install -y build-essential git zip unzip zlib1g-dev libncurses5 libstdc++6 libtinfo5 libffi-dev libssl-dev libltdl-dev autoconf libtool
          pip install --upgrade pip
          pip install Cython==0.29.33 buildozer

      - name: Fabricar APK
        run: |
          export PATH=$PATH:$HOME/.local/bin
          buildozer android debug

      - name: Subir APK
        uses: actions/upload-artifact@v4
        with:
          name: YourMobileStore-APK
          path: bin/*.apk
          
