name: Compilar APK Android
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Buildozer Action
        uses: herbertopereira/buildozer-action@master
        with:
          command: buildozer android debug
          repository_content: .

      - name: Subir APK generado
        uses: actions/upload-artifact@v4
        with:
          name: YourMobileStore-APK
          path: bin/*.apk
          
