name: Build APK Final
on: [push, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      # EL NDK 25 EXIGE JAVA 17. Esto es innegociable.
      - name: Set up Java 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Install System Dependencies
        run: |
          sudo apt update
          # Instalamos libtool-bin y m4 para que autoreconf no falle
          sudo apt install -y build-essential git python3-dev libffi-dev libssl-dev \
          libsqlite3-dev cmake unzip zip libtool libtool-bin autoconf automake \
          gettext autopoint pkg-config m4

      - name: Install Buildozer and Cython
        run: |
          pip install --upgrade pip
          pip install buildozer
          pip install cython==0.29.33

      - name: Build with Buildozer
        run: |
          # ELIMINAMOS la carpeta .buildozer vieja que tiene el NDK 23 corrupto
          rm -rf .buildozer/
          yes | buildozer android debug
        env:
          BUILDOZER_ALLOW_ORG_KIVY_ANDROID_PYTHONACTIVITY: 1
          # Obligamos a usar la ruta de Java 17 para que el NDK 25 no falle
          JAVA_HOME: /usr/lib/jvm/temurin-17-jdk-amd64

      - name: Upload APK Artifact
        uses: actions/upload-artifact@v4
        with:
          name: MobileStore-APK-Final
          path: bin/*.apk
          
