name: Compilar APK Your Mobile Store
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Instalar dependencias de Python
        run: |
          sudo apt update
          sudo apt install -y python3-pip build-essential git python3 python3-dev ffmpeg libsdl2-dev libsdl2-image-dev libsdl2-mixer-dev libsdl2-ttf-dev libportmidi-dev libswscale-dev libavformat-dev libavcodec-dev zlib1g-dev libgstreamer1.0-gstreamer-lite-dev libgstreamer1.0-plugins-base-dev
          pip3 install --user --upgrade Cython==0.29.33 buildozer

      - name: Configurar Android SDK/NDK
        run: |
          echo "y" | buildozer android debug --only-sdk-install

      - name: Fabricar APK
        run: |
          buildozer android debug

      - name: Subir APK
        uses: actions/upload-artifact@v4
        with:
          name: YourMobileStore-APK
          path: bin/*.apk
          
