name: Build APK Final
on: [push, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      # NDK 25 REQUIERE JAVA 17
      - name: Set up Java 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Install System Dependencies
        run: |
          sudo apt update
          sudo apt install -y build-essential git python3-dev libffi-dev libssl-dev \
          libsqlite3-dev cmake unzip zip libtool libtool-bin autoconf automake \
          gettext autopoint pkg-config m4

      - name: Install Buildozer and Cython
        run: |
          pip install --upgrade pip
          pip install buildozer
          pip install cython==0.29.33

      - name: Build with Buildozer
        run: |
          # Limpiamos para que reconozca el nuevo NDK 25b
          rm -rf .buildozer/
          yes | buildozer android debug
        env:
          BUILDOZER_ALLOW_ORG_KIVY_ANDROID_PYTHONACTIVITY: 1

      - name: Upload APK Artifact
        uses: actions/upload-artifact@v4
        with:
          name: MobileStore-Final-APK
          path: bin/*.apk
          
