name: Compilar APK Your Mobile Store
on: [push]

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v4

      - name: Limpiar espacio en servidor
        run: |
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /opt/ghc
          sudo rm -rf "/usr/local/share/boost"
          sudo rm -rf "$AGENT_TOOLSDIRECTORY"

      - name: Instalar herramientas
        run: |
          sudo apt update
          sudo apt install -y python3-pip build-essential git zip unzip zlib1g-dev libncurses5 libstdc++6 libtinfo5 libffi-dev libssl-dev
          pip3 install --user --upgrade Cython==0.29.33 buildozer

      - name: Fabricar APK
        run: |
          # Forzamos a Buildozer a no detenerse por licencias
          export PATH=$PATH:$HOME/.local/bin
          yes | buildozer android debug || true
          
      - name: Subir APK
        uses: actions/upload-artifact@v4
        with:
          name: YourMobileStore-APK
          path: bin/*.apk
          
